<h4>Users</h4>


<% @users.each do |user| %>
  <% if !(user.admin?) %>
  <div class="row">
    <div class="col-xs-2">
      <%= user.name %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-2">
      <%= user.email %>
    </div>
  </div>
  <div class="row borders">
    <div class="col-xs-1">
      <%= link_to "Destroy", user, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </div>
  </p>
  <% end %>
<% end %>
