	<h3>Search results:</h3>

	<% @items.each do |item| %>
		<div class="row">
			<div class="col-xs-8">

				<h4><%= link_to item.name, item %></h4>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4">
				<%= item.content %>
			</div>
			<div class="col-xs-1">
				<%= item.price %>
			</div>
		</div>
	<% end %>

	</br>
	<p>user(si)</p>
	<%= link_to 'New Item', new_item_path %>