<%= render template: 'layouts/search_item'%>

<div class="panel">
	<div class="panel-header">
		<h4>Search results:</h4>
	</div>
	<div class="panel-body">
		<% @items.each do |item| %>
			<% @item = item %>
			<% if current_user == nil %>
        <%= render template: 'layouts/item_list', json: @item %>
      <% elsif current_user.admin?%>
        <%= render template: 'layouts/item_list_actions', json: @item %>
      <% else %>
        <%= render template: 'layouts/item_list', json: @item %>
      <% end %>
		<% end %>
	</div>
</div>