  <div class="row">
    <div class="col-xs-2">
      <h3>
        <%= @category.name %>
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-2">
      <strong>Category items:</strong>
    </div>
  </div>
  <% @items.each do |item| %>
    <% @item = item %>
    <% if current_user == nil %>
      <%= render template: 'layouts/item_list', json: @item %>
    <% elsif current_user.admin?%>
      <%= render template: 'layouts/item_list_actions', json: @item %>
    <% else %>
      <%= render template: 'layouts/item_list', json: @item %>
    <% end %>
  <% end %>
